.PageAlign {
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
}

.LoginBackgroundImg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.ModalComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.NicknameForm {
  position: absolute;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
}

h2 {
  font-size: 36px;
  margin: 8px;
  /* justify-self: start; */
  /* text-align: start; */
}

p {
  margin: 8px;
}

input {
  background: none;
  border: none;
  font-size: 16px;
}

hr {
  border: 2px solid;
  border-radius: 2px;
  margin: 8px 16px 12px auto;
}

button {
  display: block;
  text-align: center;
  margin: 16px auto;
}
