.LoginBackgroundImg {
  width: 100vw;
  height: 100vh;
}

.LoginComponent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginBookComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.BearS {
  /* position: absolute; */
  width: 350px;
}

.BearS > img {
  width: 300px;
}

.LoginForm {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 20px 12px;
}

.LoginInputForm {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.LoginInputForm > h1 {
  position: relative;
  font-size: 36px;
  bottom: 50px;
  /* margin: 50px auto; */
}

.LoginButton {
  font-size: 32px;
  color: white;
  width: 210px;
  height: 50px;
  background-color: #6F573F;
  border-radius: 30px;
  border: none;
  margin: 24px auto 8px;
}

.SocialLoginButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.SocialLoginButtons > img {
  margin: 8px 8px;
  /* box-shadow: 2px 2px 12px; */
}

.KakaoLoginButton {
  width: 96px;
  height: 96px;
  border: solid 2px #747775;
  border-radius: 12px; 
}

.GoogleLoginButton {
  background-color: white;
  width: 96px;
  height: 96px;
  border: solid 2px #747775;
  border-radius: 12px;
}