.SignupBackgroundImg {
  width: 100vw;
  height: 100vh;
}

.SignupComponent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignupBookComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.SignupFormLeft {
  position: absolute;
  left: 85px;
  top: 75px;
  width: 325px;
  margin: 20px 12px;
}

.SignupForm > h1 {
  font-size: 36px;
}

.SignupFormId {
  text-align: left;
  margin-top: 48px;
}

.SignupFormId > h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.SignupFormId > input {
  background: none;
  border: none;
  font-size: 16px;
}

.SignupFormId > hr {
  border: 2px solid;
  border-radius: 2px;
  margin: 8px 16px 12px auto;
}

.SignupFormPassword {
  text-align: left;
  margin-top: 16px;
}

.SignupFormPassword > h2 {
  font-size: 24px;
  margin: 20px auto 8px;
}

.SignupFormPassword > input {
  background: none;
  border: none;
  font-size: 16px;
}

.SignupFormPassword > hr {
  border: 2px solid;
  border-radius: 2px;
  margin-right: 16px;
}
