@font-face {
    font-family: "Maplestory_b";
    src: url(/public/fonts/Maplestory\ Bold.ttf);
}

@font-face {
    font-family: "Maplestory_l";
    src: url(/public/fonts/Maplestory\ Light.ttf);
}

.main_container {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 11;
    background: url(/public/imgs/background04M.png) no-repeat center;
    background-size: cover;
}

.text_container {
    width: 1200px;
    height: 500px;
    top: 50%;
    left: 50%;
    z-index: 12;
    position: absolute;
    transform: translate(-50%, -50%);
}

.text {
    font-family: "Maplestory_b";
    font-size: 88px;
    color: white;
}

.change_text_container {
    width: 1000px;
    height: 100px;
    top: 43%;
    left: 50%;
    z-index: 12;
    position: absolute;
    transform: translate(-50%, -50%);
}

.text2 {
    font-family: "Maplestory_b";
    font-size: 40px;
    color: red;
    top: 50%;
    left: 24.25%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.text3 {
    width: 800px;
    font-family: "Maplestory_b";
    font-size: 40px;
    color: white;
    top: 50%;
    left: 51.75%;
    position: absolute;
    transform: translate(-50%, -50%);
}
