/* 전체 배경 */
.bg {
    background-color: #323232;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

/* 별 */
.star {
    position: absolute;
    background-image: url("../../public/imgs/star.png");
    width: 57px;
    height: 52px;

    z-index: 0;
}

/* 반짝이는 애니매이션 */
.blinking {
    -webkit-animation: blink 2s ease-in-out infinite alternate;
    -moz-animation: blink 2s ease-in-out infinite alternate;
    animation: blink 2s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 별 위치 관련 */
.star1 {
    top: 200px;
    right: 500px;
}
.star2 {
    top: 70px;
    right: 300px;
}
.star3 {
    top: 300px;
    right: 600px;
}
.star4 {
    top: 500px;
    right: 900px;
}

/* ------------------------------------ */

/* 화면 관련 */
.container_1 {
    position: relative;
    left: -60px;
}

/* 본인 차례 화면 */
.main {
    /* background: url("../../public/imgs/mokoko.png") no-repeat center;
  background-size: contain; */

    background-color: whitesmoke;
    border: 5px solid tomato;
    border-radius: 30px;

    width: 1040px;
    height: 400px;

    font-family: "Maplestory";
    font-size: 50px;
    font-weight: bold;
}

/* 대사 박스 */
.scriptBox {
    background-color: white;
    border: 5px solid tomato;
    border-radius: 30px;

    width: 1040px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 45px;
    font-weight: bold;
    font-family: "Maplestory";
}

/* 다른 인원들 관련 컨테이너 */
.container_2 {
    display: flex;
    justify-content: space-between;
    width: 1040px;
}

.player {
    background-color: white;
    border: 5px solid tomato;
    border-radius: 30px;
    width: 250px;
    height: 160px;

    font-family: "Maplestory";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* ------------------------------------ */

/* 도우미 캐릭터 관련 컨테이너 */
.container_3 {
    position: relative;
    left: -20px;
    top: 70px;
}

/* 도우미 말풍선 */
.bubble {
    background: url("../../public/imgs/bubble.png") no-repeat center;
    background-size: cover;

    width: 285px;
    height: 263px;

    position: relative;
    left: 75px;

    display: flex;
    justify-content: center;
}

/* 도우미 대사 */
.helper_script {
    width: 260px;
    height: 220px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: bold;
    font-family: 메이플스토리;
}

/* 도우미 캐릭터 */
.helper {
    background: url("../../public/imgs/ch1-3.png") no-repeat center;
    background-size: contain;

    width: 500px;
    height: 350px;

    position: relative;

    left: -20px;
}
